body{
    color: #fff;
    font: 600 14px;
}
figure{
    margin: 0;
}
.orginal, .box{
    border-radius: 6px;
}
.orginal{
    background: #eaeaed;
    border: 1px dashed #cecfd5;
    float: left;
    margin: 12px 15px;
}
.box{
    display: block;
    margin-top:10px;
    background: #2db34a;
    height: 95px;
    line-height: 95px;
    text-align: center;
    width: 95px;
}
.spin{ 
    cursor: pointer;
    transform-style: preserve-3d;
}
.spin:hover{
    animation: spin 5s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.box-1{
    transform: translateY(0px);
}
.box-2{
    transform: translateY(10px);
}
.box-3{
    transform: translateY(20px);
}
body a{
    color: black;
    text-decoration: none;
}
body a:hover{
    background: #2db34a;
    color: #eaeaed;
    padding: 10px;
    border-radius: 7%;
}